<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">会员账号</label>
        <div class="layui-input-inline">
            <input type="text" value="{$info['account']}" lay-verify="required" readonly  placeholder="会员账号" autocomplete="off" class="layui-input"/>
        </div>
    </div>
   
    <div class="layui-form-item">
        <label class="layui-form-label">注册时间</label>
        <div class="layui-input-inline">
            <input type="text"  value="{$info.reg_time|date='Y-m-d H:i:s', ###}" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline" style="width:50%;">
            <input type="text" name="note"  lay-verify="required" placeholder="备注" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="user_id" value="{$info['user_id']}" />
            <button class="layui-btn" lay-submit lay-filter="siteHandle">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use('form', function () {
        var form = layui.form(),$ = layui.jquery;
        //监听提交
        form.on('submit(siteHandle)', function (data) {
            var siteInfo = data.field;
            var url = "{:U()}";
            $.post(url, siteInfo, function (data) {
                if (data.status == 0) {
                    layer.msg(data.msg, {icon: 5});
                } else if(data.status == 1) {
                    layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                        location.reload();
                    });
                }
            });
            return false; //阻止表单跳转
        });
    });
</script>
