<!DOCTYPE html>
<html>
<head>
    <include file='Public/top' />
</head>
<body>
    <div class="admin-main">
        <fieldset class="layui-elem-field">
            <div class="test-table-reload-btn" style="margin-top: 10px;margin-left:15px;">
                <form class='layui-form' id="search-form2">
                    <div class="layui-inline">
                        <input type="text" name="account" placeholder="账号" class="layui-input">
                    </div>
                    <input type="hidden" name="order_by" value="branch_id">
                    <input type="hidden" name="sort" value="desc">
                    <button class="layui-btn" type="button" onclick="ajax_get_table('search-form2', 1);">搜索</button>
                </form>
            </div>
            <div class="layui-field-box"><div id="ajax_return"></div></div>
        </fieldset>
    </div>
<include file="Public/footer" />
<script>
    layui.use(['laydate', 'layer', 'form'], function () {
        $ = layui.jquery;

        $(document).ready(function () {
            ajax_get_table('search-form2', 1);
        });
    });

    function ajax_get_table(tab, page){
        var loadVal = layer.load(3);
        cur_page = page;
        $.ajax({
            type: "POST",
            url: "{:U('')}?p=" + page,
            data: $('#' + tab).serialize(),
            success: function (data) {
                if (data.status == 0) {
                    layer.msg(data.msg, {icon: 5});
                    return;
                }
                layer.close(loadVal);
                $("#ajax_return").html(data);
            }
        });
    }
    // 点击排序
    function sort(field){
        $("input[name='order_by']").val(field);
        var v = $("input[name='sort']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='sort']").val(v);
        ajax_get_table('search-form2', cur_page);
    }
</script>
</body>

</html>