<!DOCTYPE html>
<html>
    <head>
    <include file='Public/top'/>
</head>
<body>
    <div class="admin-main">
        <fieldset class="layui-elem-field">
            <blockquote class="layui-elem-quote">
                <button type="button" class="layui-btn"><i class="layui-icon">&#xe628;</i>  商家安全设置</button>
                <button  type="button" class="layui-btn layui-btn-danger pull-right" onclick="history.go(-1);" style="float:right;"><i class="layui-icon">&#xe603;</i> 返回</button>
                <button class="layui-btn" onclick="location.reload();" style="float:right;"><i class="layui-icon">&#x1002;</i> 刷新 </button>
                <div style="clear:both;"></div>
            </blockquote>
            <div class="layui-field-box">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">商家未操作</label>
                        <div class="layui-input-inline">
                            <input type="text" name="seller_past_due_time" value="{$config['seller_past_due_time']|default='3'}" placeholder="商家未操作" autocomplete="off" class="layui-input">
                            <div class="layui-form-mid layui-word-aux">0 为控制时间</div>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">M 后自动退出</b></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">登录密码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="default_pass" value="{$config['default_pass']|default='888888'}" placeholder="添加注册黙认的登录密码" autocomplete="off" class="layui-input">
                            <div class="layui-form-mid layui-word-aux">黙认为：888888</div>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">添加注册黙认的登录密码</b></div>
                    </div>
                  
                
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" id="submitBtn" lay-submit lay-filter="articleHandle">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
    <include file="Public/footer" />
    <script>
        layui.use(['layer', 'form', 'upload', 'laydate'], function () {
            var form = layui.form, $ = layui.jquery;
            form.on('submit(articleHandle)', function (data) {
                var ArticleInfo = data.field;
                var url = "{:U('')}";
                $.post(url, ArticleInfo, function (data) {
                    if (data.status != 1) {
                        layer.msg(data.msg, {icon: 5});
                    } else {
                        layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                            location.reload();
                        });
                    }
                });
                return false;//阻止表单跳转
            });

        });
    </script>
</body>
</html>