<table class="layui-table layui-form">
    <thead>
        <tr>
            <th><a href="javascript:sort('bid');">钱包</a></th>
            <th>参数配置</th>
            <th>只能转上级</th>
            <th>只能转下级</th>
            <!--<th>接收方到账</th>-->
            <!--<th>转出方回赠</th>-->
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    <if condition="count($list) eq 0">
        <tr align="center">
            <td colspan="20">暂无数据</td>
        </tr>
        <else/>
        <foreach name="list" key="k" item="v">
            <tr>
                <td>{$blockInfo[$v[bid]]}</td>
                <td>{$v.low} 起 {$v.bei} 的倍数
                    <if condition="$v.out gt 0">,单笔最高：{$v.out}</if>
                    <if condition="$v.fee gt 0">,<b style="color:red;">{$moneyConfigFeeType[$v[fee_type]]} </b>手续费 {$v.fee} %</if>
                </td>
                <td><input name="close" lay-skin="switch" autocomplete='off' lay-filter='switchUpper' value='{$v["is_upper"]}' data-value="{$v['id']}" lay-text="开启|关闭" <if condition="$v['is_upper'] eq 1">checked</if> type="checkbox"></td>
                <td><input name="close" lay-skin="switch" autocomplete='off' lay-filter='switchLower' value='{$v["is_lower"]}' data-value="{$v['id']}" lay-text="开启|关闭" <if condition="$v['is_lower'] eq 1">checked</if> type="checkbox"></td>
                <!--<td> -->
                    <!--{$v[per_a]} % {$blockInfo[$v[type_id_a]]}-->
                    <!--{$v[per_b]} % {$blockInfo[$v[type_id_b]]}-->
                <!--</td>-->
                <!--<td> -->
                    <!--{$v[give_per]} % {$blockInfo[$v[give_mid]]}-->
                <!--</td>-->
                <td><input name="close" lay-skin="switch" autocomplete='off' lay-filter='switchStatus' value='{$v["statu"]}' data-value="{$v['id']}" lay-text="开启|关闭" <if condition="$v['statu'] eq 1">checked</if> type="checkbox"></td>
                <td>
                    <a href="{:U('Block/changeEdit',array('id'=>$v['id']))}" class="layui-btn layui-btn-mini layui-btn-normal"><i class="layui-icon">&#xe642;</i>编辑({$v.id})</a>
                </td>
            </tr>
        </foreach>
    </if>
</tbody>
</table>
{$page}
<script>
    layui.use(['form'], function () {
        var $ = layui.jquery, form = layui.form;
        form.render('checkbox'); //刷新checkbox渲染
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
        form.on('switch(switchStatus)', function (data) {
            var obj = data.elem;
            var val = data.value;
            var id = $(obj).data('value');
            console.log(id);
            val = (val == 1 ? 2 : 1);
            var url = "{:U('Block/saveStatu1')}";
            $.post(url, {val: val, id: id}, function (res) {
                if (res.status == 0) {
                    layer.msg(res.msg, {icon: 5});
                    return;
                } else {
                    layer.msg(res.msg, {icon: 6, time: 2000, shade: 0.01}, function () {
                        location.reload();
                    });
                }
            });
        });
        form.on('switch(switchUpper)', function (data) {
            var obj = data.elem;
            var val = data.value;
            var id = $(obj).data('value');
            console.log(id);
            val = (val == 1 ? 2 : 1);
            var url = "{:U('Block/saveIsUpper')}";
            $.post(url, {val: val, id: id}, function (res) {
                if (res.status == 0) {
                    layer.msg(res.msg, {icon: 5});
                    return;
                } else {
                    layer.msg(res.msg, {icon: 6, time: 2000, shade: 0.01}, function () {
                        location.reload();
                    });
                }
            });
        });
        form.on('switch(switchLower)', function (data) {
            var obj = data.elem;
            var val = data.value;
            var id = $(obj).data('value');
            console.log(id);
            val = (val == 1 ? 2 : 1);
            var url = "{:U('Block/saveIslower')}";
            $.post(url, {val: val, id: id}, function (res) {
                if (res.status == 0) {
                    layer.msg(res.msg, {icon: 5});
                    return;
                } else {
                    layer.msg(res.msg, {icon: 6, time: 2000, shade: 0.01}, function () {
                        location.reload();
                    });
                }
            });
        });
        form.on('switch(switchAbove)', function (data) {
            var obj = data.elem;
            var val = data.value;
            var id = $(obj).data('value');
            console.log(id);
            val = (val == 1 ? 2 : 1);
            var url = "{:U('Change/saveIsAbove')}";
            $.post(url, {val: val, id: id}, function (res) {
                if (res.status == 0) {
                    layer.msg(res.msg, {icon: 5});
                    return;
                } else {
                    layer.msg(res.msg, {icon: 6, time: 2000, shade: 0.01}, function () {
                        location.reload();
                    });
                }
            });
        });
        form.on('switch(switchBelow)', function (data) {
            var obj = data.elem;
            var val = data.value;
            var id = $(obj).data('value');
            console.log(id);
            val = (val == 1 ? 2 : 1);
            var url = "{:U('Change/saveIsBelow')}";
            $.post(url, {val: val, id: id}, function (res) {
                if (res.status == 0) {
                    layer.msg(res.msg, {icon: 5});
                    return;
                } else {
                    layer.msg(res.msg, {icon: 6, time: 2000, shade: 0.01}, function () {
                        location.reload();
                    });
                }
            });
        });
        form.on('switch(switchAgent)', function (data) {
            var obj = data.elem;
            var val = data.value;
            var id = $(obj).data('value');
            console.log(id);
            val = (val == 1 ? 2 : 1);
            var url = "{:U('Change/saveIsAgent')}";
            $.post(url, {val: val, id: id}, function (res) {
                if (res.status == 0) {
                    layer.msg(res.msg, {icon: 5});
                    return;
                } else {
                    layer.msg(res.msg, {icon: 6, time: 2000, shade: 0.01}, function () {
                        location.reload();
                    });
                }
            });
        });
    });
    $(".pagination a").click(function () {
        var page = $(this).data('p');
        ajax_get_table('search-form2', page);
    });
    $('.del').click(function () {
        var url = "{:U('Change/del')}";
        var id = $(this).attr('data');
        if (!id) {
            var obj = $("input[name*='selected']");
            if (obj.is(":checked")) {
                var check_val = [];
                for (var k in obj) {
                    if (obj[k].checked)
                        check_val.push(obj[k].value);
                }
                id = check_val;
            }
        }
        if (!id) {
            return false;
        }
        layer.confirm('确定删除吗?', {icon: 3, skin: 'layer-ext-moon', btn: ['确认', '取消']}, function () {
            $.post(url, {id: id}, function (data) {
                if (data.status == 0) {
                    layer.msg(data.msg, {icon: 5});
                } else if (data.status == 1) {
                    layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                        var page = $('.pagination .active').find('a').data('p');
                        ajax_get_table('search-form2', page);
                    });
                }
            });
        });
    });
</script>
