<!DOCTYPE html>
<html>
    <head>
    <include file='Public/top'/>
</head>
<body>
    <div class="admin-main">
        <fieldset class="layui-elem-field">
            <div class="test-table-reload-btn" style="margin-top: 10px;margin-left:15px;">
                <button type="button" class="layui-btn"><i class="layui-icon">&#xe628;</i>  {$info['name']}管理</button>
                <button  type="button" class="layui-btn layui-btn-danger pull-right" onclick="history.go(-1);" style="float:right;"><i class="layui-icon">&#xe603;</i> 返回</button>
                <div style="clear:both;"></div>
            </div>
            <div class="layui-field-box">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">中文名称</label>
                            <div class="layui-input-block"> <input type="text" name="name_cn" value="{$info['name_cn']}" placeholder="中文名称"  autocomplete="off" class="layui-input" lay-verify="required"></div>
                        </div>
                    </div>
                    <blockquote class="layui-elem-quote layui-text">
                        <span style="color:red;">按比例 </span>则按会员等级管理报单金额的 比例 计算提成；</br>
                        <span style="color:red;">按金额 </span>则按会员等级管理设定的 金额 直接计算提成；
                    </blockquote>
                    <div class="layui-form-item">
                         <div class="layui-inline layui-form-item" pane="">
                            <label class="layui-form-label">计算方案</label>
                            <div class="layui-input-block">
                                <foreach name="bonusPerList" item="v" key="k">
                                    <input type="radio" name="type" value="{$k}" title="{$v}" <if condition="$info.type eq $k">checked=""</if>>
                                </foreach>
                            </div>
                        </div>
                    </div>
                    <blockquote class="layui-elem-quote layui-text">
                        <span style="color:red;">秒结 </span>报单激活后 直接结算奖金；</br>
                        <span style="color:red;">日结 </span>当日奖金，次日结算；</br>
                        <span style="color:red;">周结 </span>当周奖金，次周结算；</br>
                        <span style="color:red;">月结 </span>当月奖金，次月结算；</br>
                    </blockquote>
                    <div class="layui-form-item">
                         <div class="layui-inline layui-form-item" pane="">
                            <label class="layui-form-label">结算方案</label>
                            <div class="layui-input-block">
                                <foreach name="bonusSjList" item="v" key="k">
                                    <input type="radio" name="sj" value="{$k}" title="{$v}" <if condition="$info.sj eq $k">checked=""</if>>
                                </foreach>
                            </div>
                        </div>
                    </div>

                    <blockquote class="layui-elem-quote layui-text">
                        扣税说明：按实际扣税比例设置，不扣税 请设黙认值 “ 0 ”
                    </blockquote>

                    <div class="layui-form-item">
                        <label class="layui-form-label">奖金扣税 ①</label>
                        <div class="layui-input-inline">
                            <select name="t_1" lay-search="">
                                <option value="0">--请选择--</option>
                                    <foreach name="bonusTaxlist" item="v" key="k">
                                        <option value="{$k}" <if condition="$k eq $info['t_1']">selected</if>>{$v}</option>
                                    </foreach>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="tp_1" value="{$info['tp_1']|default='0'}" lay-verify="required" placeholder="分配比例 %" autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">%</b></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">奖金扣税 ②</label>
                        <div class="layui-input-inline">
                            <select name="t_2" lay-search="">
                                <option value="0">--请选择--</option>
                                    <foreach name="bonusTaxlist" item="v" key="k">
                                        <option value="{$k}" <if condition="$k eq $info['t_2']">selected</if>>{$v}</option>
                                    </foreach>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="tp_2" value="{$info['tp_2']|default='0'}" lay-verify="required" placeholder="分配比例 %" autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">%</b></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">奖金扣税 ③</label>
                        <div class="layui-input-inline">
                            <select name="t_3" lay-search="">
                                <option value="0">--请选择--</option>
                                    <foreach name="bonusTaxlist" item="v" key="k">
                                        <option value="{$k}" <if condition="$k eq $info['t_3']">selected</if>>{$v}</option>
                                    </foreach>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="tp_3" value="{$info['tp_3']|default='0'}" lay-verify="required" placeholder="分配比例 %" autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">%</b></div>
                    </div>

                    <blockquote class="layui-elem-quote layui-text">
                        分配说明：如收入扣税设置参数为  5 %，那么 收入 100 扣除 5 %后，还有 95% 在以  100 % 钱包分配比例进账；
                    </blockquote>
                    <div class="layui-form-item">
                        <label class="layui-form-label">奖金分配 ①</label>
                        <div class="layui-input-inline">
                            <select name="m_1" lay-search="">
                                <option value="0">--请选择--</option>
                                    <foreach name="moneylist" item="v" key="k">
                                        <option value="{$k}" <if condition="$k eq $info['m_1']">selected</if>>{$v}</option>
                                    </foreach>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="mp_1" value="{$info['mp_1']|default='0'}" lay-verify="required" placeholder="分配比例 %" autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">%</b></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">奖金分配 ②</label>
                        <div class="layui-input-inline">
                            <select name="m_2" lay-search="">
                                <option value="0">--请选择--</option>
                                    <foreach name="blockInfo" item="v" key="k">
                                        <option value="{$k}" <if condition="$k eq $info['m_2']">selected</if>>{$v}</option>
                                    </foreach>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="mp_2" value="{$info['mp_2']|default='0'}" lay-verify="required" placeholder="分配比例 %" autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">%</b></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">奖金分配 ③</label>
                        <div class="layui-input-inline">
                            <select name="m_3" lay-search="">
                                <option value="0">--请选择--</option>
                                    <foreach name="moneylist" item="v" key="k">
                                        <option value="{$k}" <if condition="$k eq $info['m_3']">selected</if>>{$v}</option>
                                    </foreach>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="mp_3" value="{$info['mp_3']|default='0'}" lay-verify="required" placeholder="分配比例 %" autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">%</b></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">奖金分配 ⓸</label>
                        <div class="layui-input-inline">
                            <select name="m_4" lay-search="">
                                <option value="0">--请选择--</option>
                                    <foreach name="moneylist" item="v" key="k">
                                        <option value="{$k}" <if condition="$k eq $info['m_4']">selected</if>>{$v}</option>
                                    </foreach>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="mp_4" value="{$info['mp_4']|default='0'}" lay-verify="required" placeholder="分配比例 %" autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">%</b></div>
                    </div>



                    <div class="layui-inline layui-form-item" pane="">
                        <label class="layui-form-label">是否启用</label>
                        <div class="layui-input-block">
                            <input type="radio" name="statu" value="1" title="启用" <if condition="$info.statu eq 1">checked=""</if>>
                            <input type="radio" name="statu" value="2" title="关闭" <if condition="$info.statu eq 2">checked=""</if>>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="bonus_id" value="{$info['bonus_id']}"/>
                            <button class="layui-btn" id="submitBtn" lay-submit lay-filter="articleHandle">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
    <include file="Public/footer" />
    <script>
            layui.use(['layer', 'form', 'upload', 'laydate'], function () {
                var form = layui.form, $ = layui.jquery;
                form.on('submit(articleHandle)', function (data) {
                    var ArticleInfo = data.field;
                    var url = "{:U('')}";
                    $.post(url, ArticleInfo, function (data) {
                        if (data.status != 1) {
                            layer.msg(data.msg, {icon: 5});
                        } else {
                            layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                                history.go(-1);
                            });
                        }
                    });
                    return false;
                });

            });
    </script>
</body>
</html>