<form class="layui-form">
   <br />
   <blockquote class="layui-elem-quote">
       <select name="shares_id" lay-search="">
            <foreach name="info" item='v' key='k'>
                <option value="{$v.id}">{$v.shares_name}当前价格：{$v.now_price}，持有人数：{$v.num|default='1'}，{$v.shares_name}总数：{$v.money}</option>
            </foreach>
        </select>
    </blockquote>
    <div class="layui-form-item">
        <label class="layui-form-label">拆分倍数</label>
        <div class="layui-input-inline">
            <input type="text" name="per"  lay-verify="required" placeholder="拆分倍数" autocomplete="off" class="layui-input"onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onKeyUp="this.value = this.value.replace(/[^\d.]/g, '')"/>
        </div>
    </div>
   <div class="layui-form-item">
        <label class="layui-form-label">拆分后价格</label>
        <div class="layui-input-inline">
            <input type="text" name="out_price"  lay-verify="required" placeholder="拆分后价格" autocomplete="off" class="layui-input"onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onKeyUp="this.value = this.value.replace(/[^\d.]/g, '')"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <input type="text" name="note"  lay-verify="required" value="{$Think.session.admin_id}"  placeholder="请输入描述" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn btn" lay-submit lay-filter="BankHandle">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <div style="clear:both;"></div>
</form>
<script>
    layui.use(['form'], function () {
        var form = layui.form(), $ = layui.jquery;
        //监听提交
        form.render('select'); //刷新select选择框渲染
        form.render('radio'); //刷新select选择框渲染
        form.on('submit(BankHandle)', function (data) {
            var loadeAdd = layer.msg('拆分中...', {
                icon: 16
                , shade: 0.03,
                time:0
            });
            $('.btn').attr('disabled', true);
            var siteInfo = data.field;
            var url = "{:U()}";
            $.post(url, siteInfo, function (data) {
                layer.close(loadeAdd);
                if (data.status == 0) {
                    $('.btn').attr('disabled', false);
                    layer.msg(data.msg, {icon: 5});
                } else if (data.status == 1) {
                    layer.closeAll();
                    var page = $('.pagination .active').find('a').data('p');
                    ajax_get_table('search-form2', page);
                    layer.msg(data.msg, {icon: 6, time: 2000});
                }
            });
            return false; //阻止表单跳转
        });
    });
</script>
