<table class="layui-table layui-form">
    <thead>
    <tr>
        <!--<th style="width: 5px;"><input type="checkbox" lay-filter="allChoose"lay-skin="primary" /></th>-->
        <th><a href="javascript:sort('id');" class="active">ID</a></th>
        <th><a href="javascript:sort('shares_id');">股票名称</a></th>
        <th><a href="javascript:sort('money_id');">购买钱包</a></th>
        <th>购买股票</th>
        <th>卖出股票</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <if condition="count($list) eq 0">
        <tr align="center">
            <td colspan="20">暂无数据</td>
        </tr>
        <else/>
        <foreach name="list" key="k" item="v">
            <tr>
                <!--<td><input type="checkbox" name="selected[]" value="{$v['id']}" lay-skin="primary"></td>-->
                <td>{$v.id}</td>
                    <td>{$sharesList[$v['shares_id']]}</td>
                    <td>{$moneylist[$v[money_id]]}</td>
                    <td>{$v.buy_low} 起 {$v.buy_bei} 的倍数，手续费 {$v.buy_fee} %</td>
                    <td>{$v.sell_low} 起 {$v.sell_bei} 的倍数，手续费 {$v.sell_fee} % <br />
                        <span style='color:red;'>
                            <if condition="$v.sell_per1 gt 0 &&  $v.sell_money1 gt 0 ">{$v.sell_per1}%进{$moneylist[$v[sell_money1]]}</if>
                            <if condition="$v.sell_per2 gt 0 &&  $v.sell_money2 gt 0 ">{$v.sell_per2}%进{$moneylist[$v[sell_money2]]}</if>
                            <if condition="$v.sell_per3 gt 0 &&  $v.sell_money3 gt 0 ">{$v.sell_per3}%进{$moneylist[$v[sell_money3]]}</if>
                            <if condition="$v.sell_per4 gt 0 &&  $v.sell_money4 gt 0 ">{$v.sell_per4}%进{$moneylist[$v[sell_money4]]}</if>
                            <if condition="$v.sell_per5 gt 0 &&  $v.sell_money5 gt 0 ">{$v.sell_per5}%进{$moneylist[$v[sell_money5]]}</if>
                        </span>
                    </td>
                    <td>
                        <a href="javaScript:void(0);" onclick="saveData('is_type', {$v['is_type']}, {$v['id']}, this);" data-url="{:U('Shares/saveSharesConfig')}">
                            <if condition="$v.is_type eq 1">
                                <b><i class="layui-icon">&#x1005;</i> </b>
                                <else/>
                                <b><i class="icon iconfont">&#xe61b;</i></b>
                            </if>
                        </a>
                    </td>
                <td>
                    <a href="{:U('Shares/editSharesConfig',array('id'=>$v['id']))}" class="layui-btn layui-btn-mini layui-btn-normal edit"><i class="layui-icon">&#xe642;</i>编辑</a>
                </td>
            </tr>
        </foreach>
    </if>
    </tbody>
</table>
<!--<button type="button" class="layui-btn layui-btn-danger del" style="float:left;margin:20px 0px;"><i class="layui-icon">&#xe640;</i>删除</button>-->
{$page}
<script>
    layui.use(['form'], function () {
        var form = layui.form();
        form.render('checkbox'); //刷新checkbox渲染
        // 全选
        form.on('checkbox(allChoose)', function(data){
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function(index, item){
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
    });
    $(".pagination a").click(function () {
        var page = $(this).data('p');
        ajax_get_table('search-form2', page);
    });
    function saveData(fieldVal, val, id) {
        $.ajax({
            type: "POST",
            url: "{:U('Shares/saveSharesConfig')}",
            data: {fieldVal:fieldVal, id:id, val:val},
            success: function (data) {
                if (data.status == 0) {
                    layer.msg(data.msg, {icon: 5});
                    return;
                } else {
                    var page = $('.pagination .active').find('a').data('p');
                    ajax_get_table('search-form2', page);
                    layer.msg(data.msg, {icon: 6});
                }
            }
        });
    }
</script>
