<table class="layui-table layui-form">
    <thead>
    <tr>
        <!--<th style="width: 5px;"><input type="checkbox" lay-filter="allChoose"lay-skin="primary" /></th>-->
        <th><a href="javascript:sort('id');" class="active">ID</a></th>
        <th><a href="javascript:sort('shares_name');">会员帐号</a></th>
        <th>注册时间</th>
        <th><a href="javascript:sort('is_type');">名称</a></th>
        <th><a href="javascript:sort('money');">可用数量</a></th>
        <th><a href="javascript:sort('frozen');">冻结数量</a></th>
        <th><a href="javascript:sort('total');">总数量</a></th>
        <th><a href="javascript:sort('split_cs');">释放次数</a></th><!--
        <th><a href="javascript:sort('sure_num');">当前可售</a></th>
        <th><a href="javascript:sort('price');">买入价格</a></th> -->
        <!--<th>操作</th>-->
    </tr>
    </thead>
    <tbody>
    <if condition="count($list) eq 0">
        <tr align="center">
            <td colspan="20">暂无数据</td>
        </tr>
        <else/>
        <foreach name="list" key="k" item="v">
            <assign name='user' value="$userList[$v['user_id']]" />
            <tr>
                <!--<td><input type="checkbox" name="selected[]" value="{$v['id']}" lay-skin="primary"></td>-->
                <td>{$v.id}</td>
                <td>{$user['account']}</td>
                <td>{$user['reg_time']|date="Y-m-d H:i:s", ###}</td>
                <td>{$sharesList[$v[shares_id]]}</td>
                <td>{$v.money}</td>
                <td>{$v.frozen}</td>
                <td>{$v.total}</td>
                <td>{$v.split_cs}</td>
                <!--
                <td>{$v.sure_num}</td>
                <td>{$v.price}</td> -->
<!--                <td>
                    <a data="{$v['id']}" class="layui-btn layui-btn-mini layui-btn-normal edit"><i class="layui-icon">&#xe642;</i>编辑</a>
                </td>-->
            </tr>
        </foreach>
    </if>
    </tbody>
</table>
<!--<button type="button" class="layui-btn layui-btn-danger del" style="float:left;margin:20px 0px;"><i class="layui-icon">&#xe640;</i>删除</button>-->
{$page}
<script>
    layui.use(['form'], function () {
        var form = layui.form();
        form.render('checkbox'); //刷新checkbox渲染
        // 全选
        form.on('checkbox(allChoose)', function(data){
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function(index, item){
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
    });
    $(".pagination a").click(function () {
        var page = $(this).data('p');
        ajax_get_table('search-form2', page);
    });
    $('.edit').click(function () {
        var url = "{:U('Shares/editUserShares')}";
        var id = $(this).attr('data');
        $.get(url, {id: id}, function (data) {
            if (data.status == 0) {
                layer.msg(data.msg, {icon: 5});
                return;
            }
            layer.open({
                title: '修改会员业绩',
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['80%', '80%'], //宽高
                content: data
            });
        });
    });
</script>
