<!DOCTYPE html>
<html>
<head>
    <include file='Public/top'/>
</head>
<body>
<div class="admin-main">
    <fieldset class="layui-elem-field">
        <div class="test-table-reload-btn" style="margin-top: 10px;margin-left:15px;">
            <button type="button" class="layui-btn"><i class="layui-icon">&#xe628;</i>  {$info[name]} 广告位置管理</button>
            <button  type="button" class="layui-btn layui-btn-danger pull-right" onclick="history.go(-1);"><i class="layui-icon">&#xe603;</i> 返回</button>
            <div style="clear:both;"></div>
        </div>
        <div class="layui-field-box">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">广告位名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" autocomplete="off" placeholder="广告位名称"  value="{$info['name']}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">广告宽度</label>
                        <div class="layui-input-inline jiadefan">
                            <input type="text" name="width" value="{$info['width']}" placeholder="广告宽度" autocomplete="off" class="layui-input" lay-verify="required" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onKeyUp="this.value = this.value.replace(/[^\d.]/g, '')"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">PX</b></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">广告高度</label>
                        <div class="layui-input-inline jiadefan">
                            <input type="text" name="height" value="{$info['height']}" placeholder="广告高度" autocomplete="off" class="layui-input" lay-verify="required" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onKeyUp="this.value = this.value.replace(/[^\d.]/g, '')"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">PX</b></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">广告标识</label>
                        <div class="layui-input-inline jiadefan">
                            <input type="text" name="site_where" value="{$info['site_where']}" placeholder="广告标识" autocomplete="off" class="layui-input" lay-verify="required"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><b style="color:red;">唯一性</b></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline layui-form-item" pane="">
                       <label class="layui-form-label">是否启用</label>
                       <div class="layui-input-block">
                            <input type="radio" name="statu" value="1" title="启用" <if condition="$info.statu eq 1">checked=""</if>>
                            <input type="radio" name="statu" value="2" title="禁用" <if condition="$info.statu eq 2">checked=""</if>>
                       </div>
                   </div>
                </div>
                <input type="hidden" name="id" value="{$info['id']}">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="submitBtn" lay-submit lay-filter="aboutHandle">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>
<include file="Public/footer" />
<script>
    layui.use(['layer', 'form', 'upload', 'layedit'], function () {
        var layedit = layui.layedit,form = layui.form,$ = layui.jquery;
        form.on('submit(aboutHandle)', function (data) {
            var AboutInfo = data.field;
            var url = "{:U('')}";
            $.post(url, AboutInfo, function (data) {
                if (data.status != 1) {
                    layer.msg(data.msg, {icon: 5});
                } else {
                    layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                        history.go(-1);
                    });
                }
            });
            return false;
        });

    });
</script>
</body>
</html>