<!DOCTYPE html>
<html>
    <head>
    <include file='Public/top'/>
</head>
<body>
    <div class="admin-main">
        <fieldset class="layui-elem-field">
            <blockquote class="layui-elem-quote">
                <button type="button" class="layui-btn"><i class="layui-icon">&#xe628;</i>  {$moneyInfo[$info['mid']]} 在线充值参数管理</button>
                <button type="button" class="layui-btn pull-right layui-inline" onclick="location.reload();" style="float:right;"><i class="layui-icon">&#x1002;</i> 刷新</button>
                <button  type="button" class="layui-btn layui-btn-danger pull-right" onclick="history.go(-1);" style="float:right;"><i class="layui-icon">&#xe603;</i> 返回</button>
                <div style="clear:both;"></div>
            </blockquote>
            <div class="layui-field-box">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">钱包选择</label>
                            <div class="layui-input-block"> 
                                <select name="mid" class="layui-input">
                                    <option value="0">--请选择--</option>
                                    <foreach name="moneyInfo" item="v" key="k">
                                        <option value="{$k}" <if condition="$k eq $info['mid']">selected</if>>{$v}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <label class="control-label" style="color:red;">请选择要提现的钱包</label>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">最低金额</label>
                            <div class="layui-input-block"> 
                                <input type="text" name="low" value="{$info.low|default='100'}" lay-verify="title" autocomplete="off"  class="layui-input" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onKeyUp="this.value = this.value.replace(/[^\d.]/g, '')">
                            </div>
                        </div>
                        <label class="control-label" style="color:red;">最低充值金额，低于此金额 将不能充值</label>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">参考金额</label>
                            <div class="layui-input-block"> 
                                <input type="text" name="bei" value="{$info.bei|default='100'}" lay-verify="title" autocomplete="off"  class="layui-input" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onKeyUp="this.value = this.value.replace(/[^\d.]/g, '')">
                            </div>
                        </div>
                        <label class="control-label" style="color:red;">参考金额，如设为 100，表示只有 100 的倍数可以充值； </label>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">单笔最高</label>
                            <div class="layui-input-block"> 
                                <input type="text" name="out" value="{$info.out|default='100'}" lay-verify="title" autocomplete="off"  class="layui-input" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onKeyUp="this.value = this.value.replace(/[^\d.]/g, '')">
                            </div>
                        </div>
                        <label class="control-label" style="color:red;">单笔充值最高金额，大于此金额也不能充值</label>
                    </div>
                    <div class="layui-form-item">
                         <div class="layui-inline layui-form-item" pane="">
                            <label class="layui-form-label">是否启用</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="statu" value="1" title="启用" <if condition="$info.statu eq 1">checked=""</if>>
                                <input type="radio" name="statu" value="2" title="禁用" <if condition="$info.statu eq 2">checked=""</if>>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="id" value="{$info['id']}"/>
                            <button class="layui-btn" id="submitBtn" lay-submit lay-filter="articleHandle">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
    <include file="Public/footer" />
    <script>
        layui.use(['layer', 'form', 'upload', 'laydate'], function () {
            var form = layui.form, $ = layui.jquery;
            form.on('submit(articleHandle)', function (data) {
                var ArticleInfo = data.field;
                var url = "{:U('')}";
                $.post(url, ArticleInfo, function (data) {
                    if (data.status != 1) {
                        layer.msg(data.msg, {icon: 5});
                    } else {
                        layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                            history.go(-1);
                        });
                    }
                });
                return false;//阻止表单跳转
            });
        });
    </script>
</body>
</html>