<table class="layui-table layui-form">
    <thead>
        <tr>
            <th style="width: 5px;"><input type="checkbox" lay-filter="allChoose"lay-skin="primary" /></th>
            <th><a href="javascript:sort('uid');">会员账号</a></th>
            <th>充值方式</th>
            <th><a href="javascript:sort('mid');">钱包</a></th>
            <th><a href="javascript:sort('order_sn');">充值单号</a></th>
            <th><a href="javascript:sort('add');">充值金额</a></th>
            <th><a href="javascript:sort('per');">充值汇率</a></th>
            <th><a href="javascript:sort('money');">实际到账</a></th>
            <th><a href="javascript:sort('add_time');">充值时间</a></th>
            <th><a href="javascript:sort('pay_time');">支付时间</a></th>
            <th><a href="javascript:sort('status');">状态</a></th>
            <th>备注</th>
            <th>操作 / <a href="javascript:sort('id');">ID</a></th>
        </tr>
    </thead>
    <tbody>
    <if condition="count($list) eq 0">
        <tr align="center">
            <td colspan="20">暂无数据</td>
        </tr>
        <else/>
        <foreach name="list" key="k" item="v">
            <tr>
                <td><input type="checkbox" name="selected[]" value="{$v['id']}" lay-skin="primary"></td>
                <td>{$userList[$v[uid]]}</td>
                <td>{$v[pay_name]} / {$v[pay_code]}</td>
                <td>{$moneyInfo[$v[mid]]}</td>
                <td>{$v.order_sn}</td>
                <td>{$v.add}</td>
                <td>{$v.per}</td>
                <td>{$v.money}</td>
                <td>{$v.add_time|date='Y-m-d H:i:s',###}</td>
                <td>{$v.pay_time|date='Y-m-d H:i:s',###}</td>
                <td>{$payStatu[$v[statu]]}</td>
                <td>{$v[note]}</td>
                <td><a data="{$v['id']}" class="layui-btn layui-btn-danger layui-btn-mini del"><i class="layui-icon">&#xe640;</i>删除({$v.id})</a></td>
            </tr>
        </foreach>
    </if>
</tbody>
</table>
<button type="button" class="layui-btn layui-btn-danger del" style="float:left;margin:20px 0px;"><i class="layui-icon">&#xe640;</i>删除</button>
{$page}
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        form.render('checkbox'); 
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
    });
    $(".pagination a").click(function () {
        var page = $(this).data('p');
        ajax_get_table('search-form2', page);
    });
    $('.del').click(function () {
        var url = "{:U('Recharge/delPayLog')}";
        var id = $(this).attr('data');
        if (!id) {
            var obj = $("input[name*='selected']");
            if (obj.is(":checked")) {
                var check_val = [];
                for (var k in obj) {
                    if (obj[k].checked)
                        check_val.push(obj[k].value);
                }
                id = check_val;
            }
        }
        if (!id) {
            return false;
        }
        layer.confirm('确定删除吗?', {icon: 3, skin: 'layer-ext-moon', btn: ['确认', '取消']}, function () {
            $.post(url, {id: id}, function (data) {
                if (data.status == 0) {
                    layer.msg(data.msg, {icon: 5});
                } else if (data.status == 1) {
                    layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                        var page = $('.pagination .active').find('a').data('p');
                        ajax_get_table('search-form2', page);
                    });
                }
            });
        });
    });
</script>
