<!DOCTYPE html>
<html>
<head>
    <include file='Public/top' />
</head>
<body>
<div class="admin-main">
    <fieldset class="layui-elem-field">
        <div class="test-table-reload-btn" style="margin-top: 10px;margin-left:15px;">
            <form action="{:U('Excel/exportUserDay')}" id="search-form2">
                <div class="layui-inline">
                    <input type="text" name="account" placeholder="会员账号" class="layui-input" />
                </div>
                <div class="layui-inline">
                    <input type="text" name="time" placeholder="开始日" id="time" class="layui-input" />
                </div>
                <input type="hidden" name="order_by" value="id">
                <input type="hidden" name="sort" value="desc">
                <button type="button" onclick="ajax_get_table('search-form2',1);" class="layui-btn">搜索</button>
                <button type="submit" class="layui-btn">导出</button>
                <button type="button" class="clearCache layui-btn layui-btn-danger" onclick="emptyEp();">清空收支统计</button>
                <div style="clear: both;"></div>
            </form>
        </div>
        <div class="layui-field-box"><div id="ajax_return"></div></div>
    </fieldset>
</div>
<include file="Public/footer" />
<script>
    layui.use(['laydate', 'layer', 'form'], function () {
        var $ = layui.jquery,laydate=layui.laydate;
        $(document).ready(function(){
            ajax_get_table('search-form2',1);
        });
        laydate.render({
            elem: '#time'
            ,range: true,
            format:'yyyy/MM/dd'
          });
    });
    function ajax_get_table(tab, page){
        var loadVal = layer.load(3);
        cur_page = page;
        $.ajax({
            type: "POST",
            url: "{:U('Money/userDay')}?p=" + page,
            data: $('#' + tab).serialize(),
            success: function (data) {
                if (data.status == 0) {
                    layer.msg(data.msg, {icon: 5});
                    return;
                }
                layer.close(loadVal);
                $("#ajax_return").html(data);
            }
        });
    }
    function emptyEp(){
        layer.confirm("是否确认清空数据，执行之后将不能撤销", {title:'温馨提示', icon:3}, function(){
            var getMoreLoad = layer.msg('数据清空中...',{shade:0.3, icon:16, time:0});
            var url = "{:U('Money/emptyUserDay')}";
            $.post(url, function (data) {
                layer.close(getMoreLoad);
                if (data.status == 0) {
                    ajax_get_table('search-form2', cur_page);
                    layer.msg(data.msg, {icon: 5});
                    return;
                } else if(data.status == 1) {
                    var page = $('.pagination .active').find('a').data('p');
                    ajax_get_table('search-form2', page);
                    layer.msg(data.msg, {icon:6});
                }
            });
        });
    }
    function sort(field){
        $("input[name='order_by']").val(field);
        var v = $("input[name='sort']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='sort']").val(v);
        ajax_get_table('search-form2', cur_page);
    }
</script>
</body>

</html>