<!DOCTYPE html>
<html>
    <head>
    <include file='Public/top'/>
</head>
<body>
    <div class="admin-main">
        <fieldset class="layui-elem-field">
            <blockquote class="layui-elem-quote">
                <button type="button" class="layui-btn"><i class="layui-icon">&#xe628;</i>  {$user['account']} {$moneyInfo[$info[mid]]} 管理</button>
                <button type="button" class="layui-btn pull-right layui-inline" onclick="location.reload();" style="float:right;"><i class="layui-icon">&#x1002;</i> 刷新</button>
                <button  type="button" class="layui-btn layui-btn-danger pull-right" onclick="history.go(-1);" style="float:right;"><i class="layui-icon">&#xe603;</i> 返回</button>
                <div style="clear:both;"></div>
            </blockquote>
            <div class="layui-field-box">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">持用金额</label>
                            <div class="layui-input-inline"> <input type="text" disabled value="{$info['money']}" placeholder="持用金额"  autocomplete="off" class="layui-input" lay-verify="required"></div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">冻结金额</label>
                            <div class="layui-input-inline"><input type="text"  value="{$info['frozen']}" disabled placeholder="冻结金额" autocomplete="off" class="layui-input" lay-verify="required" /></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline layui-form-item" pane="">
                            <label class="layui-form-label">操作类型</label>
                            <div class="layui-input-block">
                                <input type="radio" name="istype" value="1" title="增加账户持用余额">
                                <input type="radio" name="istype" value="2" title="减少账户持用余额">
                                <input type="radio" name="istype" value="3" title="冻结账户金额">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">调整金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="money" value="0" lay-verify="required" placeholder="调整金额" autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid" style="color:red;font-weight: 800;">请输入本次要调整的金额</div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">调整类型</label>
                            <div class="layui-input-block"> 
                                <select name="editType" class="layui-input">
                                    <option value="0">--请选择--</option>
                                    <foreach name="moneyLogType" item="v" key="k">
                                        <option value="{$k}" <if condition="$k eq 96">selected</if>>{$v}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <label class="control-label" style="color:red;">调整类型选择</label>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline layui-form-item" pane="">
                            <label class="layui-form-label">回收操作</label>
                            <div class="layui-input-block">
                                <input type="radio" name="isweb" value="1" title="回收至公司">
                                <input type="radio" name="isweb" value="2" title="不回收处理">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">公司账号</label>
                            <div class="layui-input-inline"><input type="text" name="webname"  placeholder="请输入公司账号" autocomplete="off" class="layui-input"  /></div>
                        </div>
                    </div>
                    <fieldset class="layui-elem-field site-demo-button">
                        <legend>回收操作说明</legend>
                        <div>
                            <b style="color:red;">回收至公司</b><label class="control-label">：扣减会员的金额，直接流入到输入的公司账号，增加会员的金额，直接从公司账户扣除，公司账户余额不足时，无法操作，请移步财务拨出</label><br />
                            <b style="color:red;">不回收处理</b><label class="control-label">：减少用户余额与增加用户金额时，公司不做任何的回收操作 </label><br />
                        </div>
                    </fieldset>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注  <b style="color:red;">拨出的原因，方便以后查账</b></label>
                        <div class="layui-input-block">
                            <textarea name="note" placeholder="备注信息" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="id" value="{$info['id']}"/>
                            <button class="layui-btn" id="submitBtn" lay-submit lay-filter="articleHandle">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
<include file="Public/footer" />
<script>
    layui.use(['layer', 'form', 'upload', 'laydate'], function () {
        var form = layui.form, $ = layui.jquery;
        form.on('submit(articleHandle)', function (data) {
            var ArticleInfo = data.field;
            var url = "{:U('')}";
            $.post(url, ArticleInfo, function (data) {
                if (data.status != 1) {
                    layer.msg(data.msg, {icon: 5});
                } else {
                    layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                        history.go(-1);
                    });
                }
            });
            return false;//阻止表单跳转
        });
    });
</script>
</body>
</html>