<!DOCTYPE html>
<html>
<head>
    <include file='Public/top' />
</head>
<body>
<div class="admin-main">
    <fieldset class="layui-elem-field">
        <div class="test-table-reload-btn" style="margin-top: 10px;margin-left:15px;">
            <form class='layui-form' id="search-form2">
                <div class="layui-inline">
                    <select name="type" class="layui-input">
                        <option value="0">--请选择所属部门--</option>
                        <foreach name='typeInfo' item='v' key='k'>
                            <option value="{$k}">{$v}</option>
                        </foreach>
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" name="time" placeholder="添加时间" id="time" class="layui-input" />
                </div>
                <button type="button" onclick="ajax_get_table('search-form2',1);" class="layui-btn">搜索</button>
                <a href="{:U('Notice/add')}" class="layui-btn layui-btn-mini layui-btn-normal">新增</a>
                <div style="clear: both;"></div>
            </form>
        </div>
    <div class="layui-field-box"><div id="ajax_return"></div></div>
    </fieldset>
</div>
<include file="Public/footer" />
<script>
    layui.use(['laydate','layer', 'form'], function () {
        var $ = layui.jquery,laydate=layui.laydate;
        $(document).ready(function(){
            ajax_get_table('search-form2',1);
        });
        laydate.render({
            elem: '#time'
            ,range: true,
            format:'yyyy/MM/dd'
        });
    });
    function ajax_get_table(tab, page){
        var loadVal = layer.load(3);
        cur_page = page;
        $.ajax({
            type: "POST",
            url: "{:U('Notice/index')}?p=" + page,
            data: $('#' + tab).serialize(),
            success: function (data) {
                if (data.status == 0) {
                    layer.msg(data.msg, {icon: 5});
                    return;
                }
                layer.close(loadVal);
                $("#ajax_return").html(data);
            }
        });
    }
    function sort(field){
        $("input[name='order_by']").val(field);
        var v = $("input[name='sort']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='sort']").val(v);
        ajax_get_table('search-form2', cur_page);
    }
</script>
</body>
</html>