

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台登录 - {$config['web_title']}</title>
    <link rel="shortcut icon" href="{$config['web_ico_img']}" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/plugins/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/plugins/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/plugins/layuiadmin/style/login.css" media="all">
    <style type="text/css">
    /*body{background: url(__PUBLIC__/images/login-bg-1.jpg) no-repeat center center fixed;background-color: #393D49;}*/
</style>
</head>
<body>

  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;background-color: #344058;">

    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>{$config['web_name']}后台管理系统</h2>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                <input type="text" name="name" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                <input type="password" name="pwd" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
                        <input type="text" name="verifyCode" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left:  10px;">
                            <img src="{:U('Login/verify')}" data-url="{:U('Login/verify')}" class="layadmin-user-login-codeimg" id="LAY-user-get-vercode">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-bottom: 20px;">
                <!-- <input type="checkbox" name="remember" lay-skin="primary" title="记住密码"> -->
                <a href="https://zhidu.zfuwl.cn/detail_27.html" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;">忘记密码？</a>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 入</button>
            </div>
        </div>
    </div>

</div>

<script src="__PUBLIC__/plugins/layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '__PUBLIC__/plugins/layuiadmin/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index', 'user'], function(){
    var $ = layui.$
    ,setter = layui.setter
    ,admin = layui.admin
    ,form = layui.form

    //提交
    form.on('submit(LAY-user-login-submit)', function(obj){
        var url = "/index.php?m=Zfuwl&c=Login&a=doLogin&t="+Math.random();
        var loadeIndex = layer.load(0, {
            shade: [0.5, '#8F8F8F'],
            time:0
        });
        //请求登入接口
        $.post(url, obj.field, function(res) {
            if (res.status != 1) {
                $('#code_img').click();
                layer.close(loadeIndex);
                layer.msg(res.msg);
                $('#LAY-user-get-vercode').click();
            } else {
                //登入成功的提示与跳转
                layer.msg('登入成功', {offset: '15px',icon: 1,time: 1000}, function(){
                    window.location.href = "{:U('Index/index')}";
                });
            }
        });
    });
});
</script>
</body>
</html>