<!DOCTYPE html>
<html>
    <head>
    <include file='Public/top'/>
</head>
<body>
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            <button type="button" class="layui-btn"><i class="layui-icon">&#xe628;</i>  商品分类管理</button>
            <button type="button" class="layui-btn pull-right layui-inline" onclick="location.reload();"><i class="layui-icon">&#x1002;</i> 刷新</button>
            <button  type="button" class="layui-btn layui-btn-danger pull-right" onclick="history.go(-1);" style="float:right;"><i class="layui-icon">&#xe603;</i> 返回</button>
            <div style="clear:both;"></div>
        </blockquote>
        <div style="clear:both;"></div>
        <fieldset class="layui-elem-field">
            <div class="layui-field-box">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">电脑版名称</label>
                            <div class="layui-input-block"> <input type="text" name="name" value="{$info['name']}"  placeholder="电脑版名称"  autocomplete="off" class="layui-input" lay-verify="required"></div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">手机版名称</label>
                            <div class="layui-input-block"> <input type="text" name="name_mobile" value="{$info['name_mobile']}"  placeholder="手机版名称"  autocomplete="off" class="layui-input" lay-verify="required"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">上级分类</label>
                        <div class="layui-input-inline">
                            <select name="parent_id" lay-search="">
                                <option value="0">顶级分类</option>
                                <foreach name="catList" item="v" key="k">
                                    <if condition="$info['cat_id'] neq $v['cat_id']">
                                        <option value="{$v['cat_id']}" <if condition="$v['cat_id'] eq $info['parent_id']">selected</if>>{$v['name']}</option>
                                    </if>
                                </foreach>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-input-block"> <input type="text" name="sort" value="{$info['sort']|default=50}"  placeholder="排序"  autocomplete="off" class="layui-input" lay-verify="required"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="id" value="{$info['cat_id']}"/>
                            <button class="layui-btn" id="submitBtn" lay-submit lay-filter="articleHandle">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
    <include file="Public/footer" />
    <script>
            layui.use(['layer', 'form', 'upload', 'laydate'], function () {
                var form = layui.form, $ = layui.jquery,upload = layui.upload;
                form.on('submit(articleHandle)', function (data) {
                    var ArticleInfo = data.field;
                    var obj = data.elem;
                    var url = "{:U('')}";
                    var index = layer.msg('提交中...', {icon:16, time:0, shade:0.1});
                    $.post(url, ArticleInfo, function (data) {
                        layer.close(index);
                        if (data.status != 1) {
                            layer.msg(data.msg, {icon: 5});
                        } else {
                            layer.msg(data.msg, {icon: 6, time: 2000});
                        }
                    });
                    return false;//阻止表单跳转
                });
            });
    </script>
</body>
</html>