<table class="layui-table layui-form">
    <thead>
        <tr>
            <th style="width: 5px;"><input type="checkbox" lay-filter="allChoose"lay-skin="primary" /></th>
            <th><a href="javascript:sort('add_time');">申请时间</a></th>
            <th><a href="javascript:sort('mid');">钱包</a></th>
            <th>收款信息</th>
            <th>备注</th>
            <th><a href="javascript:sort('statu');">审核结果</a></th>
            <th>审核员</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    <if condition="count($list) eq 0">
        <tr align="center">
            <td colspan="20">暂无数据</td>
        </tr>
        <else/>
        <foreach name="list" key="k" item="v">
            <tr>
                <td><input type="checkbox" name="selected[]" value="{$v['id']}" lay-skin="primary"></td>
                <td>{$v.add_time|date='Y-m-d H:i:s',###}</td>
                <td>
                    会员账号：{$userList[$v[uid]]}<br />
                    申请账户：{$moneyCarryInfo[$v[mid]]} => {$v[add_money]}<br />
                    含手续费：{$v.fee|default='0'}  % （{$v.fee_money}）<br />
                    实际支付：{$v.out_money}<br />
                </td>
                <td>
                    银行：{$bankInfo[$v[opening_id]]}<br />
                    户名：{$v.bank_name}<br />
                    账号：{$v.bank_account}
                </td>
                <td>{$v.note}</td>
                <td>{$moneyCarryLogStatu[$v[statu]]}
                    <if condition="$v.statu eq 3"><br/>{$v.refuse_time|date='Y-m-d H:i:s',###}<br /><span style="color:red;"> {$v[refuse]}</span></if>
                    <if condition="$v.affirm_time gt 0"><span style="color:red;"> <br />{$v.affirm_time|date='Y-m-d H:i:s',###}</span></if>
                    <if condition="$v.pay_time gt 0"><span style="color:red;"> <br />{$v.pay_time|date='Y-m-d H:i:s',###} 己付款</span></if>
                </td>
                <td>{$adminlist[$v[admin_id]]}</td>
                <td>
                     <switch name='v.statu'>
                        <case value='1'>
                            <a data="{$v['id']}" class="layui-btn layui-btn-normal affirmCarryAdd"><i class="layui-icon">&#xe65e;</i>确认并付款</a><br/>
                            <a data="{$v['id']}" class="layui-btn layui-btn-normal toCarryAdd"><i class="layui-icon">&#x1005;</i>确认审核待付款</a><br/>
                            <a data="{$v['id']}" class="layui-btn layui-btn-warm refuseCarryAdd"><i class="layui-icon">&#xe64f;</i>拒绝该笔提现</a><br/>
                        </case>
                        <case value='2'>
                            <a data="{$v['id']}" class="layui-btn layui-btn-normal affirmCarryAdd"><i class="layui-icon">&#xe65e;</i>确认并付款</a><br/>
                        </case>
                    </switch>
                    <a data="{$v['id']}" class="layui-btn layui-btn-mini del"><i class="layui-icon">&#xe640;</i> 删除({$v.id})</a>
                </td>
            </tr>
        </foreach>
    </if>
</tbody>
</table>
<button type="button" class="layui-btn layui-btn-danger del" style="float:left;margin:20px 0px;"><i class="layui-icon">&#xe640;</i>删除</button>
{$page}
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        form.render('checkbox'); 
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
    });
    $(".pagination a").click(function () {
        var page = $(this).data('p');
        ajax_get_table('search-form2', page);
    });
    $('.toCarryAdd').click(function () {
        var url = "{:U('Carry/toCarryAdd')}";
        var id = $(this).attr('data');
        if (!id) {
            var obj = $("input[name*='selected']");
            if (obj.is(":checked")) {
                var check_val = [];
                for (var k in obj) {
                    if (obj[k].checked)
                        check_val.push(obj[k].value);
                }
                id = check_val;
            }
        }
        if (!id) {
            return false;
        }
        layer.confirm('是否确认该笔提现?', {icon: 3, skin: 'layer-ext-moon', btn: ['确认', '取消']}, function () {
            $.post(url, {id: id}, function (data) {
                if (data.status == 0) {
                    layer.msg(data.msg, {icon: 5});
                } else if (data.status == 1) {
                    layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                        var page = $('.pagination .active').find('a').data('p');
                        ajax_get_table('search-form2', page);
                    });
                }
            });
        });
    });
    $('.affirmCarryAdd').click(function () {
        var url = "{:U('Carry/affirmCarryAdd')}";
        var id = $(this).attr('data');
        if (!id) {
            var obj = $("input[name*='selected']");
            if (obj.is(":checked")) {
                var check_val = [];
                for (var k in obj) {
                    if (obj[k].checked)
                        check_val.push(obj[k].value);
                }
                id = check_val;
            }
        }
        if (!id) {
            return false;
        }
        layer.confirm('是否确认并己付款?', {icon: 3, skin: 'layer-ext-moon', btn: ['确认', '取消']}, function () {
            $.post(url, {id: id}, function (data) {
                if (data.status == 0) {
                    layer.msg(data.msg, {icon: 5});
                } else if (data.status == 1) {
                    layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                        var page = $('.pagination .active').find('a').data('p');
                        ajax_get_table('search-form2', page);
                    });
                }
            });
        });
    });
    $('.refuseCarryAdd').click(function(){
        var id = $(this).attr('data');
        layer.prompt({title:'请输入你的拒绝原因',formType: 2}, function(value, index, elem){
            $.ajax({
                type:'post',
                data:{id:id, name:value},
                url:"{:U('Carry/refuseCarryAdd')}",
                success:function(data){
                    layer.close(index);
                    if (data.status == 0) {
                        layer.msg(data.msg, {icon: 5});
                    } else if (data.status == 1) {
                       layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                            var page = $('.pagination .active').find('a').data('p');
                            ajax_get_table('search-form2', page);
                        });
                        layer.msg(data.msg, {icon: 6, time: 2000});
                    }
                }
            })
        });
    });
    $('.del').click(function () {
        var url = "{:U('Carry/delCarryLog')}";
        var id = $(this).attr('data');
        if (!id) {
            var obj = $("input[name*='selected']");
            if (obj.is(":checked")) {
                var check_val = [];
                for (var k in obj) {
                    if (obj[k].checked)
                        check_val.push(obj[k].value);
                }
                id = check_val;
            }
        }
        if (!id) {
            return false;
        }
        layer.confirm('确定删除吗?', {icon: 3, skin: 'layer-ext-moon', btn: ['确认', '取消']}, function () {
            $.post(url, {id: id}, function (data) {
                if (data.status == 0) {
                    layer.msg(data.msg, {icon: 5});
                } else if (data.status == 1) {
                    layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                        var page = $('.pagination .active').find('a').data('p');
                        ajax_get_table('search-form2', page);
                    });
                }
            });
        });
    });
</script>
