<!DOCTYPE html>
<html>
    <head>
    <include file='Public/top'/>
</head>
<body>
    <div class="admin-main">
        <fieldset class="layui-elem-field">
            <blockquote class="layui-elem-quote">
                <button type="button" class="layui-btn"><i class="layui-icon">&#xe628;</i>  {$user['account']}静态投资管理</button>
                <button type="button" class="layui-btn pull-right layui-inline" onclick="location.reload();" style="float:right;"><i class="layui-icon">&#x1002;</i> 刷新</button>
                <button  type="button" class="layui-btn layui-btn-danger pull-right" onclick="history.go(-1);" style="float:right;"><i class="layui-icon">&#xe603;</i> 返回</button>
                <div style="clear:both;"></div>
            </blockquote>
            <div class="layui-field-box">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">会员账号</label>
                            <div class="layui-input-inline"> <input type="text" readonly value="{$user['account']}" placeholder="会员账号"  autocomplete="off" class="layui-input" lay-verify="required"></div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">投资金额</label>
                            <div class="layui-input-inline">
                                <input type="text" readonly value="{$info['price_total']}" placeholder="投资金额" autocomplete="off" class="layui-input" lay-verify="required" />
                            </div>
                        </div>
                    </div>
                    <fieldset class="layui-elem-field">
                        <legend  style="margin-top: 30px;margin-bottom: 20px;">出局数据</legend>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">总分红天数</label>
                                <div class="layui-input-inline"> <input type="text" readonly value="{$info['num_total']}" placeholder="总分红天数"  autocomplete="off" class="layui-input" lay-verify="required"></div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">修改天数为</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="edit_num_total" value="{$info['num_total']}" placeholder="修改后的分红总天数" autocomplete="off" class="layui-input" lay-verify="required" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onKeyUp="this.value = this.value.replace(/[^\d]/g, '')"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">总分红金额</label>
                                <div class="layui-input-inline"> <input type="text" readonly value="{$info['money_total']}" placeholder="总分红天数"  autocomplete="off" class="layui-input" lay-verify="required"></div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">修改金额为</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="edit_money_total" value="{$info['money_total']}" placeholder="修改后的总分红金额" autocomplete="off" class="layui-input" lay-verify="required" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onKeyUp="this.value = this.value.replace(/[^\d.]/g, '')"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field">
                        <legend  style="margin-top: 30px;margin-bottom: 20px;">己分红数据</legend>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">己分红天数</label>
                                <div class="layui-input-inline"> <input type="text" readonly value="{$info['fh_num']}" placeholder="己分红天数"  autocomplete="off" class="layui-input" lay-verify="required"></div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">修改天数为</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="edit_fh_num" value="{$info['fh_num']}" placeholder="修改后的己分红天数" autocomplete="off" class="layui-input" lay-verify="required" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onKeyUp="this.value = this.value.replace(/[^\d]/g, '')"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">己分红金额</label>
                                <div class="layui-input-inline"> <input type="text" readonly value="{$info['total_money']}" placeholder="己分红金额"  autocomplete="off" class="layui-input" lay-verify="required"></div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">修改金额为</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="edit_total_money" value="{$info['total_money']}" placeholder="修改后的己分红天数" autocomplete="off" class="layui-input" lay-verify="required" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onKeyUp="this.value = this.value.replace(/[^\d]/g, '')"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label"><b style="color: red;">备注</b></label>
                        <div class="layui-input-block">
                          <textarea name="edit_note" placeholder="修改数据的原因或理由，不可为空" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="id" value="{$info['id']}"/>
                            <button class="layui-btn" id="submitBtn" lay-submit lay-filter="articleHandle">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
    <include file="Public/footer" />
    <script>
        layui.use(['layer', 'form', 'upload', 'laydate'], function () {
            var form = layui.form, $ = layui.jquery;
            form.on('submit(articleHandle)', function (data) {
                var ArticleInfo = data.field;
                var url = "{:U('')}";
                $.post(url, ArticleInfo, function (data) {
                    if (data.status != 1) {
                        layer.msg(data.msg, {icon: 5});
                    } else {
                        layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                            history.go(-1);
                        });
                    }
                });
                return false;//阻止表单跳转
            });
        });
    </script>
</body>
</html>