<!DOCTYPE html>
<html>
    <head>
        <include file='Public/top'/>
    </head>

    <body>
        <div class="admin-main">
            <fieldset class="layui-elem-field">
                <legend>数据库备份列表</legend>
                <div class="layui-field-box">
                    <form id="search-form2" action="{:U('Tools/restoreUpload')}" method="post" enctype="multipart/form-data">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="file" name="sqlfile" />
                            </div>
                        </div>
                        <button class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe62f;</i> 上传</button>
                        <button type="button" class='layui-btn layui-btn-small add'><i class='layui-icon'>&#xe608;</i>新增备份</button>
                        <button type="button" class="layui-btn" onclick="location.reload();" style="float:right;"><i class="layui-icon">&#x1002;</i> 刷新</button>
                    </form>
                    <div id="ajax_return">
                        <button type="button" class="layui-btn layui-btn-danger layui-btn-sm alldel"><i class="layui-icon">&#xe640;</i>删除</button>
                        <table id="table" lay-filter="abc"></table>
                    </div>
                </div>
            </fieldset>
        </div>
        <include file="Public/footer" />
        <script>
            layui.use(['laydate', 'layer', 'form', 'table'], function () {
                var form = layui.form, $ = layui.jquery, table = layui.table;
                var options = {
                    id: 'idTest',
                    url: '{:U("Tools/backList")}',
                    elem: '#table',
                    cols: [[
                    {checkbox: true},
                    {field: 'key', title: '序号'},
                    {field: 'file_name', title: '文件名'},
                    {field: 'bak_time', title: '备份时间', sort: true},
                    {field: 'file_size', title: '文件大小'},
                    {title: '操作', templet: '#options'}
                    ]],
                    request: {
                        pageName: 'p',
                        limitName: 'p_num'
                    },
                    page: true,
                    limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                    limit: 10, //默认采用60
                    initSort: {
                        field: 'bak_time' //排序字段，对应 cols 设定的各字段名
                        , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
                    },
                    skin: 'line', //行边框风格
                    even: true, //开启隔行背景
                    size: 'sm', //小尺寸的表格
                };

                table.render(options);
                //监听工具条
                table.on('tool(abc)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                    var data = obj.data; //获得当前行数据
                    var layEvent = obj.event; //获得 lay-event 对应的值
                    var tr = obj.tr; //获得当前行 tr 的DOM对象

                    if (layEvent === 'del') {
                        layer.confirm('确定删除吗?', {icon: 3, skin: 'layer-ext-moon', btn: ['确认', '取消']}, function (index) {
                            layer.close(index);
                            var file = data.file_name;
                            var res = del(file);
                            if(res) {
                                obj.del();
                            }
                        });
                        } else if(layEvent === 'restore') {
                        layer.confirm('确认还原数据吗?', {icon: 3, skin: 'layer-ext-moon', btn: ['确认', '取消']}, function (index) {
                            var url = "{:U('Tools/restore')}";
                            var file = data.file_name;
                            var loadeAdd = layer.msg('数据还原中...', {
                                icon: 16
                                ,shade: 0.01,
                                time:1000000000
                            });
                            return $.post(url, {file: file}, function (data) {
                                layer.close(loadeAdd);
                                if (data.status == 0) {
                                    layer.msg(data.msg, {icon: 5});
                                    } else if (data.status == 1) {
                                    layer.msg(data.msg, {icon: 6, time: 2000});
                                }
                            });
                        });
                    }
                });
                $('.add').click(function(){
                    var url = "{:U('Tools/back')}";
                    var loadeAdd = layer.msg('备份数据中，请勿刷新', {
                        icon: 16
                        ,shade: 0.01,
                        time:1000000000
                    });
                    $.post(url, function (data) {
                        layer.close(loadeAdd);
                        if (data.status == 0) {
                            layer.msg(data.msg, {icon: 5});
                            } else if (data.status == 1) {
                                table.reload('idTest');
                            layer.msg(data.msg, {icon: 6, time: 2000});
                        }
                    },'json');
                });
                $('.alldel').on('click', function () {
                    var checkStatus = table.checkStatus('idTest'),data = checkStatus.data;
                    var file = '0';
                    for(var i=0; i<data.length; i++) {
                        file+=','+data[i].file_name;
                    }
                    if(file == '0') {
                        return layer.msg('请选择要删除的文件!');
                    }
                    var res = del(file);
                    if(res) {
                        table.reload('idTest');
                    }
                });
                function del(file) {
                    var url = "{:U('Tools/delBack')}";
                    return $.post(url, {file: file}, function (data) {
                        if (data.status == 0) {
                            layer.msg(data.msg, {icon: 5});
                            return false;
                            } else if (data.status == 1) {
                            layer.msg(data.msg, {icon: 6, time: 2000});
                            return true;
                        }
                    });
                }
            });
        </script>
        <script type="text/html" id="options">
            <a href="{:U('Tools/downBack')}?file={{d.file_name}}" class="layui-btn layui-btn-xs layui-btn-normal">
                <i class=" fa fa-cloud-download"></i>下载
            </a>
            <a data="{{d.file_name}}" class="layui-btn layui-btn-xs layui-btn-normal" lay-event='restore'>
                <i class="layui-icon">&#xe603;</i>还原
            </a>
            <a data="{{d.file_name}}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
                <i class="layui-icon">&#xe640;</i>删除
            </a>
        </script>
    </body>

</html>
